<html lang="en">

<head>
  <title>Set Brewpi Wifi</title>
  <!-- Raleway Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <script src="https://use.fontawesome.com/cc35b7b927.js"></script>
  <script src="/static/smooth-scroll.min.js"></script>
</head>
<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              Set Brewpi Wifi
            </h1>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <hr>
                  <h2 class="subtitle">
                    {{ message }}
                  </h2>
                {% endfor %}
              {% endif %}
            {% endwith %}

            <!-- Scroll down button -->
            <!--<a id="scroll-down-button" data-scroll href="#about" class="button is-warning">
              <i class="fa fa-chevron-down"></i>
            </a>-->
          </div>
          <div class="column">
            <!-- Form -->
            <div class="box">
              <form action="/set-wifi" method="POST">
                <!-- SSID Text Field-->
                <div class="field">
                  <label class="label">SSID</label>
                  <div class="control">
                    <input class="input" name="ssid" type="text" placeholder="SSID">
                  </div>
                </div>

                <!-- Password Text Field-->
                <div class="field">
                  <label class="label">Passphrase</label>
                  <div class="control">
                    <input class="input" name="password" type="text" placeholder="Passphrase">
                  </div>
                </div>

                <!-- Priority Text Field -->
                <div class="field">
                  <label class="label">Priority</label>
                  <div class="control">
                    <input class="input" pattern="-?[0-9]*(\.[0-9]+)?" name="priority" type="text" placeholder="Priority (Make it a number)">
                  </div>
                </div>

                <!-- Submit Button -->
                <div class="columns">
                  <div class="column">
                    <div class="control">
                      <button class="button is-primary">Submit</button>
                    </div>
                  </div>
                  <div class="column">
                    <code class="is-pulled-right">
                      {{ file }}
                    </code>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero-->

  <section id="about" class="hero is-info is-medium is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle">
            The Brewpi acts as a WAP (Wireless Access Point) so it can be accessed without a network connection. You can use this tool to set wireless credentials to make a connection.
        </h2>
      </div>
    </div>
  </section>
</body>
</html>

<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>

