<html lang="en">

<head>
  <title>Set Brewpi Wifi</title>
  <!-- Raleway Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
</head>
<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column">
            <h1 class="title">
              Set Brewpi Wifi
            </h1>
          </div>
          <div class="column">
            <!-- Form -->
            <div class="box">
              <form action="/set-wifi" method="POST">
                <!-- SSID Text Field-->
                <div class="field">
                  <label class="label">SSID</label>
                  <div class="control">
                    <input class="input" name="ssid" type="text" placeholder="SSID">
                  </div>
                </div>

                <!-- Password Text Field-->
                <div class="field">
                  <label class="label">Passphrase</label>
                  <div class="control">
                    <input class="input" name="password" type="text" placeholder="Passphrase">
                  </div>
                </div>

                <!-- Priority Text Field -->
                <div class="field">
                  <label class="label">Priority</label>
                  <div class="control">
                    <input class="input" name="priority" type="text" placeholder="Priority (Make it a number)">
                  </div>
                </div>

                <!-- Submit Button -->
                  <div class="control">
                    <button class="button is-primary">Submit</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
